body
{
   margin : 0;
   padding: 0;
}

h1
{
  background-color: rgb(20, 206, 175);
  color : white;

  margin: 0;
  padding: 30px;

  text-align: center;
}

a
{
  color : rgb(173, 93, 216);
}

img
{
    width: 500px;
}